/* BottomNavbar.css */
.bottom-navbar {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
}

.nav-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Remove underline and set text color to black */
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: #e0e0e0;
}

.nav-item.active {
    /* Change the background color for active nav-item */
    background-color: #419dff;
    color: black;  /* Ensuring text remains black even if active */
}
